@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 98%;
    --card-foreground: 222.2 84% 4.9%;
    --success: 139, 90%, 33%;
    --success-foreground: 139, 90%, 85%;
    --popover: 0 0% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210 76.2% 36.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 10% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 91%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 210 76.2% 36.3%;
    --radius: 0.5rem;
    --warning: 30 100% 50%;
    --warning-foreground: 210 40% 98%;
    /* Chart Colors */
    --chart-1: 210 30% 55%;
    --chart-2: 120 25% 55%;
    --chart-3: 30 50% 55%;
    --chart-4: 270 30% 55%;
    --chart-5: 0 50% 55%;
    --chart-6: 180 30% 55%;
    --chart-7: 330 30% 55%;
    --chart-8: 45 50% 55%;
    --chart-9: 200 30% 55%;
    --chart-10: 150 25% 55%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 210 40% 98%;
    --success: 139, 90%, 33%;
    --success-foreground: 139, 90%, 85%;
    --card: 0 0% 7%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 20% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 76 70.6% 45.3%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 85%;
    --muted: 217.2 10% 12%;
    --muted-foreground: 215 5% 65.1%;
    --accent: 217.2 10% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 45%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 10% 17.5%;
    --ring: 142.1 70.6% 45.3%;
    --warning: 30 100% 50%;
    --warning-foreground: 210 40% 98%;

    /* Chart Colors - Dark Mode */
    --chart-1: 210 30% 45%;
    --chart-2: 120 25% 45%;
    --chart-3: 30 50% 45%;
    --chart-4: 270 30% 45%;
    --chart-5: 0 50% 45%;
    --chart-6: 180 30% 45%;
    --chart-7: 330 30% 45%;
    --chart-8: 45 50% 45%;
    --chart-9: 200 30% 45%;
    --chart-10: 150 25% 45%;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground) / 0.1);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--muted-foreground) / 0.2);
  }
}

/* Fonte Inter */
.inter-100 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-200 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-300 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-400 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-500 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-600 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-700 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-800 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-900 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
